html {
	font-size: 1rem;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
}

.code {
	text-align: center;
}

/* LAYOUT */

.container {
	min-height: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.color-palette {
	display: flex;
}

.color-group {
	width: 20%;
}

/* COLORS */

.color {
	width: 100%;
	height: 60vh;
}

.one {
	background-color: aquamarine;
}

.two {
	background-color: blanchedalmond;
}

.three {
	background-color: navy;
}

.four {
	background-color: darkcyan;
}

.five {
	background-color: goldenrod;
}

/* FORM LAYOUT */

form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em .2em;
	margin-bottom: 1em;
}

.color-picker {
	padding: 0;
	border: 2px solid rgb(234, 229, 229);
	width: 20%;
	height: 30px;
	max-width: 100px;
}

select {
	width: 50%;
	background-color: #FFF;
	border: 1px solid rgb(209, 205, 205);
	border-radius: 5px;
	padding: .5em;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}

.btn {
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	padding: .5em;
	background-color: #FFF;
	border: 1px solid rgb(209, 205, 205);
	border-radius: 5px;
	cursor: pointer;
}